/*

Darko Bunic
http://www.redips.net/
Nov, 2009.

*/

#root{
	width: 1095px;
	margin: 0 auto;
}

body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}


/* add bottom margin between tables */
#table, #table1,
#table2{
	margin-bottom: 20px;
}


/* drag container */
#drag{
	margin: auto;
	width: 530px;
}


/* drag objects (DIV inside table cells) */
.drag{
	cursor: move;
	margin: auto;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	width: 87px;
}


/* drag objects border for the first table */
.t1 {border: 2px solid #499B33;}
/* drag object border for the second table */
.t2 {border: 2px solid #2D4B7A;}
/* cloned objects - third table */
.t3 {border: 2px solid #BF6A30;}
/* allow / deny access to cells marked with 'mark' class name */
.mark{color: white; background-color: #9B9EA2;}
/* trash cell */
.trash{color: white; background-color: #2D4B7A;}

/* tables */
div#drag table{
	background-color: #e0e0e0;
	border-collapse: collapse;
}


/* needed for IE6 because cursor "move" shown on radio button and checckbox ?! */
div#drag input{
	cursor: auto;
}


/* table cells */
div#drag td{
	height: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}


/* "Click" button */
.button{
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 40px;
	padding: 0px;
}
table {
	border-collapse: collapse
}

table th {
    background-color: #ccc
}

table th,table td {
    padding: .5em;
    border: 1px solid #999
}

tr:last-child th, tr:first-child th:last-child { 
	background:#292929; 
	padding: 0;
    margin: 0;
}

tr th, tr td{
	background: #ffffff;
	min-width: 75px;
	padding: 0;;
}

tr th[scope="col"] {
	background-color: #F6D0D0
}
tr th[scope="row"] {
	background-color: #A0FCCB
}

tr th.inter-header {
	background: #ffffff
}

tr:last-child td {
	border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

tr:last-child td:last-child {
	border-top: 0;
}

tr td:last-child{
	border: 0;
}

th button{
	background: transparent;
    border: 0;
    color: #ffff;
	height: 36px;
}
 td div{
	width: 100%;
    display: block;
    height: 35px;
 }

 td div span{
	display: block;
    height: 60%;
    cursor: default;
    padding: 10%;
	caret-color: transparent;
 }

 span.highlight{
	 background: lightblue;;
 }

 .noSelect::selection {
    background: transparent;
}